:host {
  display: flex;
  justify-content: center;
  margin: 10rem 0;
}
// mat-form-field{
//   width: 100%;
// }
.form_field {
  width: 100%;
}
.card-container {
  width: 40%;
}
.form_title {
  width: 100%;
  justify-content: center;
}
mat-hint{
  color: rgb(192, 188, 188);
}
