<div class="card-container">
  <mat-card>
    <mat-card-header class="form_title">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <P>
          <mat-form-field class="form_field">
            <input
              formControlName="email"
              matInput
              placeholder="Email"
              type="email"
            />
          </mat-form-field>
        </P>
        <P>
          <mat-form-field class="form_field">
            <input
              formControlName="password"
              matInput
              placeholder="Password"
              type="password"
            />
            <mat-hint>
              CAUTION: Do not reuse any of your existing password.</mat-hint
            >
            <mat-error *ngIf="form.controls['password'].hasError('required')">
              Password is required
            </mat-error>
            <mat-error *ngIf="form.controls['password'].hasError('minlength')">
              Password should contain at least 10 characters
            </mat-error>
          </mat-form-field>
        </P>
        <p>
          <button color="primary" mat-raised-button type="submit">Login</button>
        </p>
        <p>
          <a href="" mat-button>Forgot password?</a>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
